
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
    text-align: center;
    padding: 0px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.card {
  width: 200px;
  height: 200px;
  margin: 12px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
}

  
  