*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
    text-align: center;
    padding: 0px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.container {
    border-collapse: collapse;
    
}

table {
    border-colapse: collapse;
    border: 1px solid black;
}



.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 0px;
}

.row {
    text-align: center;
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
}
  
  